interactions:
- request:
    body: REQUEST=doQuery&LANG=ADQL&MAXREC=10000&QUERY=SELECT+TOP+5+target_name%2C+s_ra%2C+s_dec+FROM+ivoa.obscore
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://almascience.nrao.edu/tap/async
  response:
    body:
      string: ''
    headers:
      Location:
      - https://almascience.nrao.edu/tap/async/xj38z4kpszkokys6
    status:
      code: 303
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://almascience.nrao.edu/tap/async/xj38z4kpszkokys6
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<uws:job xmlns:uws=\"http://www.ivoa.net/xml/UWS/v1.0\"
        xmlns:xlink=\"http://www.w3.org/1999/xlink\" version=\"1.1\">\r\n  <uws:jobId>xj38z4kpszkokys6</uws:jobId>\r\n
        \ <uws:runId />\r\n  <uws:ownerId xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:nil=\"true\" />\r\n  <uws:phase>PENDING</uws:phase>\r\n  <uws:quote>2026-09-22T16:38:40.928Z</uws:quote>\r\n
        \ <uws:startTime xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:nil=\"true\"
        />\r\n  <uws:endTime xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:nil=\"true\" />\r\n  <uws:executionDuration>14400</uws:executionDuration>\r\n
        \ <uws:destruction>2026-09-28T16:38:40.928Z</uws:destruction>\r\n  <uws:parameters>\r\n
        \   <uws:parameter id=\"LANG\">ADQL</uws:parameter>\r\n    <uws:parameter
        id=\"MAXREC\">10000</uws:parameter>\r\n    <uws:parameter id=\"QUERY\">SELECT
        TOP 5 target_name, s_ra, s_dec FROM ivoa.obscore</uws:parameter>\r\n    <uws:parameter
        id=\"REQUEST\">doQuery</uws:parameter>\r\n  </uws:parameters>\r\n  <uws:results
        />\r\n</uws:job>\r\n"
    headers:
      Content-Type:
      - text/xml
    status:
      code: 200
      message: ''
[...]
- request:
    body: PHASE=RUN
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://almascience.nrao.edu/tap/async/xj38z4kpszkokys6/phase
  response:
    body:
      string: ''
    headers:
      Location:
      - https://almascience.nrao.edu/tap/async/xj38z4kpszkokys6
    status:
      code: 303
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://almascience.nrao.edu/tap/async/xj38z4kpszkokys6
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<uws:job xmlns:uws=\"http://www.ivoa.net/xml/UWS/v1.0\"
        xmlns:xlink=\"http://www.w3.org/1999/xlink\" version=\"1.1\">\r\n  <uws:jobId>xj38z4kpszkokys6</uws:jobId>\r\n
        \ <uws:runId />\r\n  <uws:ownerId xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:nil=\"true\" />\r\n  <uws:phase>EXECUTING</uws:phase>\r\n  <uws:quote>2026-09-22T16:38:40.928Z</uws:quote>\r\n
        \ <uws:startTime>2026-09-21T16:38:41.320Z</uws:startTime>\r\n  <uws:endTime
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:nil=\"true\" />\r\n
        \ <uws:executionDuration>14400</uws:executionDuration>\r\n  <uws:destruction>2026-09-28T16:38:40.928Z</uws:destruction>\r\n
        \ <uws:parameters>\r\n    <uws:parameter id=\"LANG\">ADQL</uws:parameter>\r\n
        \   <uws:parameter id=\"MAXREC\">10000</uws:parameter>\r\n    <uws:parameter
        id=\"QUERY\">SELECT TOP 5 target_name, s_ra, s_dec FROM ivoa.obscore</uws:parameter>\r\n
        \   <uws:parameter id=\"REQUEST\">doQuery</uws:parameter>\r\n  </uws:parameters>\r\n
        \ <uws:results />\r\n</uws:job>\r\n"
    headers:
      Content-Type:
      - text/xml
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://almascience.nrao.edu/tap/async/xj38z4kpszkokys6
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<uws:job xmlns:uws=\"http://www.ivoa.net/xml/UWS/v1.0\"
        xmlns:xlink=\"http://www.w3.org/1999/xlink\" version=\"1.1\">\r\n  <uws:jobId>xj38z4kpszkokys6</uws:jobId>\r\n
        \ <uws:runId />\r\n  <uws:ownerId xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:nil=\"true\" />\r\n  <uws:phase>COMPLETED</uws:phase>\r\n  <uws:quote>2026-09-22T16:38:40.928Z</uws:quote>\r\n
        \ <uws:startTime>2026-09-21T16:38:41.320Z</uws:startTime>\r\n  <uws:endTime>2026-09-21T16:38:41.721Z</uws:endTime>\r\n
        \ <uws:executionDuration>14400</uws:executionDuration>\r\n  <uws:destruction>2026-09-28T16:38:40.928Z</uws:destruction>\r\n
        \ <uws:parameters>\r\n    <uws:parameter id=\"LANG\">ADQL</uws:parameter>\r\n
        \   <uws:parameter id=\"MAXREC\">10000</uws:parameter>\r\n    <uws:parameter
        id=\"QUERY\">SELECT TOP 5 target_name, s_ra, s_dec FROM ivoa.obscore</uws:parameter>\r\n
        \   <uws:parameter id=\"REQUEST\">doQuery</uws:parameter>\r\n  </uws:parameters>\r\n
        \ <uws:results>\r\n    <uws:result id=\"diag\" xlink:href=\"uws:executing:0\"
        />\r\n    <uws:result id=\"diag\" xlink:href=\"jndi:lookup:0\" />\r\n    <uws:result
        id=\"diag\" xlink:href=\"read:tap_schema:129\" />\r\n    <uws:result id=\"diag\"
        xlink:href=\"query:parse:1\" />\r\n    <uws:result id=\"diag\" xlink:href=\"jndi:connect:0\"
        />\r\n    <uws:result id=\"diag\" xlink:href=\"query:execute:166\" />\r\n
        \   <uws:result id=\"diag\" xlink:href=\"query:store:105\" />\r\n    <uws:result
        id=\"rowcount\" xlink:href=\"final:5\" />\r\n    <uws:result id=\"result\"
        xlink:href=\"https://almascience.nrao.edu/tap/files/result_xj38z4kpszkokys6.xml\"
        />\r\n  </uws:results>\r\n</uws:job>\r\n"
    headers:
      Content-Type:
      - text/xml
    status:
      code: 200
      message: ''
[...]
