interactions:
- request:
    body: REQUEST=doQuery&LANG=ADQL&MAXREC=1000&QUERY=SELECT+column_name%2C+datatype+FROM+tap_schema.columns+WHERE+table_name+%3D+%27nsc_dr2.object%27
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://datalab.noirlab.edu/tap/sync
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <VOTABLE xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

        xsi:noNamespaceSchemaLocation="xmlns:http://www.ivoa.net/xml/VOTable-1.2.xsd"
        version="1.2">

        <RESOURCE type="results">

        <DESCRIPTION>DALServer TAP Query</DESCRIPTION>

        <INFO name="QUERY_STATUS" value="OK"/>

        <INFO name="QUERY" value="SELECT column_name, datatype FROM tap_schema.columns
        WHERE table_name = ''nsc_dr2.object''"/>

        <INFO name="TableRows" value="99"/>

        <TABLE>

        <FIELD ID="column_name" name="column_name" datatype="char" arraysize="64">

        <DESCRIPTION>Column Name</DESCRIPTION>

        </FIELD>

        <FIELD ID="datatype" name="datatype" datatype="char" arraysize="64">

        <DESCRIPTION>Column data type (ADQL)</DESCRIPTION>

        </FIELD>

        <DATA>

        <TABLEDATA>

        <TR><TD>ndetr</TD><TD>adql:SMALLINT</TD></TR>

        <TR><TD>ra</TD><TD>adql:DOUBLE</TD></TR>

        <TR><TD>dec</TD><TD>adql:DOUBLE</TD></TR>

        <TR><TD>glon</TD><TD>adql:DOUBLE</TD></TR>

        <TR><TD>glat</TD><TD>adql:DOUBLE</TD></TR>

        <TR><TD>elon</TD><TD>adql:DOUBLE</TD></TR>

        <TR><TD>elat</TD><TD>adql:DOUBLE</TD></TR>

        <TR><TD>raerr</TD><TD>adql:REAL</TD></TR>

        <TR><TD>decerr</TD><TD>adql:REAL</TD></TR>

        <TR><TD>pmra</TD><TD>adql:REAL</TD></TR>
[...]
[...]
