interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://reg.g-vo.org/tap/capabilities
  response:
    body:
      string: "<?xml version='1.0' encoding='utf-8'?>\n<?xml-stylesheet href='/static/xsl/vosi.xsl'
        type='text/xsl'?>\n<cap:capabilities xmlns:cap=\"http://www.ivoa.net/xml/VOSICapabilities/v1.0\"
        xmlns:tr=\"http://www.ivoa.net/xml/TAPRegExt/v1.0\" xmlns:vg=\"http://www.ivoa.net/xml/VORegistry/v1.0\"
        xmlns:vr=\"http://www.ivoa.net/xml/VOResource/v1.0\" xmlns:vs=\"http://www.ivoa.net/xml/VODataService/v1.1\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.ivoa.net/xml/VOSICapabilities/v1.0
        http://vo.ari.uni-heidelberg.de/docs/schemata/VOSICapabilities-v1.0.xsd http://www.ivoa.net/xml/TAPRegExt/v1.0
        http://vo.ari.uni-heidelberg.de/docs/schemata/TAPRegExt.xsd http://www.ivoa.net/xml/VORegistry/v1.0
        http://vo.ari.uni-heidelberg.de/docs/schemata/VORegistry.xsd http://www.ivoa.net/xml/VOResource/v1.0
        http://vo.ari.uni-heidelberg.de/docs/schemata/VOResource.xsd http://www.ivoa.net/xml/VODataService/v1.1
        http://vo.ari.uni-heidelberg.de/docs/schemata/VODataService.xsd\"><capability
        standardID=\"ivo://ivoa.net/std/TAP\" xsi:type=\"tr:TableAccess\"><interface
        role=\"std\" version=\"1.1\" xsi:type=\"vs:ParamHTTP\"><accessURL use=\"full\">http://dc.g-vo.org/tap</accessURL><mirrorURL>https://dc.g-vo.org/tap</mirrorURL></interface><dataModel
        ivo-id=\"ivo://ivoa.net/std/obscore#core-1.1\">Obscore-1.1</dataModel><dataModel
        ivo-id=\"ivo://ivoa.net/std/regtap#1.2\">Registry 1.2</dataModel><dataModel
        ivo-id=\"ivo://org.gavo.dc/std/glots#tables-1.0\">GloTS 1.0</dataModel><language><name>ADQL</name><version
        ivo-id=\"ivo://ivoa.net/std/ADQL#v2.0\">2.0</version><version ivo-id=\"ivo://ivoa.net/std/ADQL#v2.1\">2.1</version><description>The
        Astronomical Data Query Language is the standard IVOA dialect of SQL; it contains
        a very general SELECT statement as well as some extensions for spherical geometry
        and higher mathematics.</description><languageFeatures type=\"ivo://ivoa.net/std/TAPRegExt#features-udf\"><feature><form>gavo_apply_pm(ra
        DOUBLE PRECISION, dec DOUBLE PRECISION, pmra DOUBLE PRECISION, pmde DOUBLE
        PRECISION, epdist DOUBLE PRECISION) -&gt; POINT</form><description>Returns
        a POINT (in the UNDEFINED reference frame) for the position\nan object at
        ra/dec with proper motion pmra/pmde has after epdist years.\n\npositions must
        be in degrees, PMs in should be in julian years (i.e., proper\nmotions are
        expected in degrees/year).  pmra is assumed to contain\nco[...]
- request:
    body: REQUEST=doQuery&LANG=ADQL&MAXREC=5&QUERY=SELECT%0Aivoid%2C+res_type%2C+short_name%2C+res_title%2C+content_level%2C+res_description%2C+reference_url%2C+creator_seq%2C+created%2C+updated%2C+rights%2C+content_type%2C+source_format%2C+source_value%2C+region_of_regard%2C+waveband%2C+%0A++ivo_string_agg%28COALESCE%28access_url%2C+%27%27%29%2C+%27%3A%3A%3Apy+VO+sep%3A%3A%3A%27%29+AS+access_urls%2C+%0A++ivo_string_agg%28COALESCE%28standard_id%2C+%27%27%29%2C+%27%3A%3A%3Apy+VO+sep%3A[...]
